.app-nav {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}

.app-title {
  text-align: center;
  padding: 20px;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.app-title-alt {
  text-align: center;
  padding: 20px;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.app-nav {
  background-color: #00a8e8;
  color: white;
  font-family: "Comfortaa", cursive;
  font-weight: bold;
  font-size: 25px;
}

.app-nav-alt {
  background-color: #00a8e8;
  color: white;
  font-family: "Comfortaa", cursive;
  font-weight: bold;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.app-nav-alt-hamburger {
  padding: 20px;
}

.app-links {
  padding: 20px;
}

.app-links-alt > a,
.app-links > a {
  font-size: 20px;
  color: white !important;
  text-decoration: none;
  padding: 20px 20px 20px 0px;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.app-nav-title-alt--hide {
  display: none;
}

.app-nav-title-alt--show {
  display: block;
}
/* mobile styles  */

@media only screen and (max-width: 800px) {
  .app-nav {
    font-size: 15px;
  }
}

@media only screen and (max-width: 600px) {
  /* .app-nav {
    flex-direction: column;
    height: 100vh;
  }
  .app-title {
    background-color: #007ea7;
  }
  .app-links {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
  }

  .app-links > a {
    padding: 10px 0px;
    text-align: center;
    font-size: 25px;
  }
  .app-title {
    font-size: 30px;
  } */
  /* .app-nav-alt {
    position: aboslute;
    flex-direction: column;
    height: 100vh;
  }
  .app-links-alt {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
  } */
  .app-links-alt {
    display: flex;
    /* flex-direction: column; */
  }
  .app-nav-alt {
    position: absolute;
    flex-direction: row;
    top: 0;
    width: 100vw;
    /* text-align: center; */
  }
  /* 
  .app-nav-alt > a {
    font-size: 20px;
  } */
}
